fieldset {
    border: none;
}

.schedule-view {
    display: flex;
    flex-direction: column;
}

#user a {
    display: flex;
    align-content: center;
}

#user figure {
    width: 2rem;
    margin: 1rem 1rem 2rem 0;
    height: 37px;
}

#user figure img {
    width: 2rem;
}

.divider {
    margin: 5rem;
}

.checkbox-label {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: flex;
    min-height: 5vh;
    width: 90vw;
    align-items: space-around;
    justify-content: center;
    margin: 0 auto;
}

.btn-class {
    width: 100%;
}

h3 {
    font-size: 34px;
    font-weight: 700;
    color: #020723;
}

.user-name {
    color: #020723;
}