 * section {
  max-width: 90vw;
  margin: 0 auto;
  height: 100vh;
}
#here-map{
 width: inherit;
  margin-left: 0;
}

.btn-map{
  position:absolute;
  z-index: 1;
  top: 75vh;
  left: 15vh;
  /* margin-top: 29rem;
  margin-left: 1rem;
  
  color: white;
  width: 19rem;
  height: 7vh; */
}
.input-map {
  z-index: 1;
  position: absolute;
  background-color: white;
  top: 12vh;
  left: 5vh;
  width: 45vh;
  border-radius: 25px;
}
.input-style {
 border-bottom: white;
}